<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="../styles/Calender.css">
</head>
<body>
    <header class="fade-in">
        <img class="logo" src="/Board_Game_Cafe_Website/public/assets/images/sipnplay.png" alt="Sip and Play Logo">

        <nav>
            <ul>
                <li><a href="land.html">Home</li>
                <li><a href="Menu.html">Menu</li>
                <li><a href="calender.html">Events</li>
                <li><a href="#contact">Contact</li>
                <li><a href="land.html">Profile</li>
            </ul>
        </nav>

        <form class="search-form">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>

    </header>

    <div>
        <section class="Events">
            <div class="Events-content">
                <h2>Upcoming Events</h2>
                <ul>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">second showdown</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">221B Baker Street</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">5 Second Rule</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">7 Wonders</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">8 Min Empire: Legends</a></li>
                </ul>
            </div>
        </section>

        <section class="All-Events background">
            <div class="All-Events-Content">
                <h2>All Events</h2>
                <ul>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">20 second showdown</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">221B Baker Street</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">5 Second Rule</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">7 Wonders</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">8 Min Empire: Legends</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">A Game of Thrones: The Board Game</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">Above and Below</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">Acquire</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">Badmoji</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">Battle for the island</a></li>
                </ul>
            </div>
        </section>

        <!--Contact us section-->
        <h2 class="fontstyle">Contact us</h2>
        <hr width="50%" size="4" color="#000000" />
        <section class="contact-us" id="contact">
            <div class="contact-left">
                <p>
                Feel free to contact us anytime. we will get back to you as soon as we
                can.
                </p>
                <form>
                <input type="text" placeholder="Name" name="n1" /><br />
                <input type="Email" placeholder="Email" name="e1" /><br />
                <textarea placeholder="Massage"></textarea><br />
                <button class="button" type="button">Submit</button>
                </form>
            </div>
            <div class="contact-right">
                <p>471 5th Ave.</p>
        
                <p>Brooklyn, NY 11215</p>
                <i class="fa-solid fa-call-icon"></i>
                <p>718-971-1684</p>
                <p><a href="mailto:sipnplaynyc@gmail.com">sipnplaynyc@gmail.com</a></p>
            </div>
        </section>
    
        <!--the footer section-->
    
        <hr width="100%" size="3" color="#000000" />
        <footer class="footer-section">
            <div class="footer-left">
                <img
                src="../../public/assets/images/sip&play.webp"
                alt="An image of an logo"
                />
            </div>
            <nav class="footer-right">
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="calender.html">Events</a></li>
                <li><a href="Menu.html">Menu</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">Games</a></li>
                <li><a href="Feedback.html">Feedback</a></li>
                </ul>
            </nav>
        </footer>
    </div>
    

</body>
</html>