<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Sip&Play" content="Feedback back Form of the Sip&Play" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sip&Play</title>
    <link rel="stylesheet" type="text/css" href="../styles/Feedback.css" />
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/public/assets/images/Sip_play_logo.jpeg"
        alt="Sip and Play Logo"
      />

      <nav>
        <ul>
          <li><a href="landing.html">Home</a></li>
          <li><a href="Menu.html">Menu</a></li>
          <li><a href="Calender.html">Events</a></li>
          <li><a href="landing.html">Contact</a></li>
          <li><a href="landing.html">Profile</a></li>
        </ul>
      </nav>

      <form class="search-form">
        <input type="text" placeholder="Search..." />
        <button class="button" type="submit">Search</button>
      </form>
    </header>

    <!--form section-->

    <section class="form-section">
      <h1 class="formstyle">Sip&Play Feedback Form</h1>
      <hr width="50%" color="#000000" size="3" />
      <p>
        We We highly value your input. as it is crucial for us to enchance our
        work and service standards.your Feedback will guide us in identifying
        necessary adjustments to better meet your needs. therefore, we
        appreciate it if you fill this form. thank you for your valuable
        contribution.
      </p>
      <form name="f1">
        <input type="text" name="n1" placeholder="Name" /><br />
        <input type="email" name="e1" placeholder="Email" required /><br />
        <input type="date" name="d1" /><br />
      </form>
    </section>
    <section class="opinion">
      <form name="f2">
        1.Feedback Type<br />
        <input type="radio" name="r1" />Compliment<br />
        <input type="radio" name="r1" />complain<br />
        <input type="radio" name="r1" />suggestion<br /><br />
        2.How could you like to rate our games:<br />
        <input type="range" name="h1" /><br /><br />
        <textarea name="t1" placeholder="Massage"></textarea>
        <div>
          <input
            class="button"
            type="submit"
            name="submit"
            value="submit"
          /><br /><br />
          <input
            class="button"
            type="reset"
            name="reset"
            value="reset"
          /><br /><br />
        </div>
      </form>
    </section>

    <!--footer section-->
    <hr width="100%" size="3" color="#000000" />
    <footer class="footer-section">
      <div class="footer-left">
        <img
          src="/public/assets/images/sip&play.webp"
          alt="An image of an logo"
        />
      </div>
      <nav class="footer-right">
        <ul>
          <li><a href="landing.html">Home</a></li>
          <li><a href="calender.html">Events</a></li>
          <li><a href="Menu.html">Menu</a></li>
          <li><a href="Games.html">Games</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
