<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sip and Play</title>
    <link rel="stylesheet" href="../styles/mains.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header class="fade-in header">
        <img class="logo" src="../../public/assets/images/sipnplay.png" alt="Sip and Play Logo">

        <nav class="header-selection">
            <ul>
                <li><a href="landing.html">Home</a></li>
                <li><a href="Menu.html">Menu</a></li>
                <li><a href="calendar.html">Events</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="land.html">Profile</a></li>
            </ul>
        </nav>

       

    </header>

    <div class="background fade-in">
        <section class="Discover">
            <div class="Discover-content">
                
                <h2 class="the-content" style="color: #ff8c00e6">Discover the Ultimate Board Game <br><h2 class="experience" style="opacity: 0.3;">Experience</h2></h2>
            </div>
        </section>
    
        <section class="Story">
            <div class="left">
                <h2 class="fontstyle" style="font-size:40px;">Our Story</h2>
                <hr width="50%" size="4" color="#000000" />
            </div>
    
            <div class="right">
                <p class="description" >
                    Founder, Jonathan Li, shares a passion for <br> <strong> Board Games, Boba, </strong>and <strong>Delicious Food</strong>.<br><br> He
                    combined them all to become Sip & Play, Park Slope's first board game cafe.<br> It is a
                    straightforward concept, come in with your friends and family to play any board game from our
                    library of 300+ games! <br>We hope when you visit, you also enjoy our coffee, espresso, boba,
                    sandwiches, and snacks!
                </p>
            </div>
        </section>
    
        <section class="Menu">
            <div class="Menu-content">
                <button class="Menu-button button"><strong><a href = Menu.html> Our Menu</a> </strong></button>
                <p >
                    Make sure not to miss out on our diverse menu offerings, where you can find a wide range of 
                    everyone's favorite snacks and drinks to satisfy your cravings while you are playing our board games.
                </p>
            </div>
        </section>
    </div>

    <div>
        <section class="boardgame_section">
            <h2 class="fontstyle">Our Game Collection</h2>
            <hr width="50%" size="4" color="#000000" />
            <p >
              We have an incredible selection of over 300+ board games at our cafe!
              Come by to enjoy your favorite drinks and snacks while having an amazing
              time with your friends and family. It's a perfect place to relax, have
              fun, and create joyful memories together.
            </p>
            <div class="grid-container">
              <img
                src="../../public/assets/images/boardgame1.webp"
                alt="Picture of Jonathan"
              />
      
              <img src="../../public/assets/images/boardgame4.jpg" alt="Image of games" />
      
              <img
                src="../../public/assets/images/boardgame5.jpg"
                alt="An image of people playing games"
              />
      
              <img
                src="../../public/assets/images/boardgame6.jpg"
                alt="An image of games"
              />
      
              <img
                src="../../public/assets/images/boardgame7.jpg"
                alt="An image of games"
              />
              <img
                src="../../public/assets/images/boardgame3.jpg"
                alt="An image of Owner"
              />
              <img
                src="../../public/assets/images/boardgames8.jpg"
                alt="An image of games"
              />
              <img
                src="../../public/assets/images/logoimage.jpg"
                alt="An image of Sip&Play logo"
              />
            </div>
        
        </section>
      
        <!--Upcoming event section-->
        <section class="upcoming-event-section">
            <article class="event-section-left">
                <img
                src="../../public/assets/images/playinggames.jpg"
                alt="An image of people playing chess"
                width="450px"
                height="500px"
                />
            </article>
            <article class="event-section-right">
                <h2 class="fontstyle">Upcoming Events</h2>
                <hr width="50%" size="4" color="#000000" />
                <p >
                Be sure not to miss out on our upcoming events at the cafe, where
                you'll have the opportunity to socialize and connect with new friends
                while creating wonderful memories with your loved ones. You can look
                forward to savoring beverages and snacks in a lively and
                enjoyable atmosphere.
                </p>
        
                <button class="button" type="button"><a href="events.html">See Event Details</a></button>
            </article>
        </section>
    
        <!--Reservation section-->
        <section class="reservation">
            <article class="reserve-left">
                <h2 class="fontstyle">Reservations</h2>
                <hr width="50%" size="4" color="#000000" />
                <p >
                    We have just started using a new reservation software, Tock!
                    Reservations are $15 per person for 3 hours of game time. All
                    reservations can be made on our new site:
                </p>
                <button class="button" type="button"><a href="https://www.exploretock.com/sipnplay">Make your reservations here!</a>
                </button>
            </article>
            <div class="reserve-right">
                <img src="../../public/assets/images/cafe1.webp" alt="An image of cafe" />
            </div>
        </section>
    
        <!--Contact us section-->
        <h2 class="fontstyle">Contact us</h2>
        <hr width="50%" size="4" color="#000000" />
        <section class="contact-us">
            <div class="contact-left">
                <p>
                Want to see more? <br> Feel free to contact us anytime!
                </p>
                <form>
                <input type="text" placeholder="Name" name="n1" /><br />
                <input type="Email" placeholder="Email" name="e1" /><br />
                <textarea placeholder="Message"></textarea><br/>
                <button class="button" type="button">Submit</button>
                </form>
            </div>
            <div class="contact-right">
                <p>471 5th Ave.</p>
        
                <p>Brooklyn, NY 11215</p>
                <i class="fa-solid fa-call-icon"></i>
                <p>718-971-1684</p>
                <p><a href="mailto:sipnplaynyc@gmail.com">sipnplaynyc@gmail.com</a></p>
            </div>
        </section>
    
        <!--Footer section-->
    
        <hr width="100%" />
        <footer class="footer-section">
            <div class="footer-left">
                <img
                src="../../public/assets/images/sip&play.webp"
                alt="An image of a logo"
                />
            </div>
            <nav class="footer-right">
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="calendar.html">Events</a></li>
                <li><a href="Menu.html">Menu</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1-TOvwUh-ziCB6QmLYvQlxtXuBd-aGiiO72GWAasby8o/edit?gid=0#gid=0">Games</a></li>
                <li><a href="Feedback.html">Feedback</a></li>
                </ul>
            </nav>
        </footer>
    </div>

    <script>
        // Scroll to the top of the page on page load
        window.addEventListener('load', function() {
            window.scrollTo(0, 0);
        });
    </script>
</body>
</html>
